name: "Close stale issues"
on:
  schedule:
  - cron: "30 1 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/stale@v9
      with:
        days-before-issue-stale: 60
        days-before-issue-close: 7
        stale-issue-message: "This issue is stale because it has been open for 60 days with no activity. Remove stale label or comment or this will be closed in 7 days."
        close-issue-message: "This issue was closed because it has been inactive for 14 days since being marked as stale."
        days-before-pr-stale: 60
        days-before-pr-close: 7
        stale-pr-message: "This PR is stale because it has been open for 60 days with no activity."
        exempt-issue-labels: "pinned,security"
        exempt-pr-labels: "pinned,security"
