version: '3.8'

services:
  registry:
    build: 
      context: ../../
      dockerfile: examples/microservices-advanced/Dockerfile
      target: registry
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
    networks:
      - microservices

  product-service:
    build:
      context: ../../
      dockerfile: examples/microservices-advanced/Dockerfile
      target: product-service
    ports:
      - "8001:8001"
    environment:
      - PORT=8001
      - REGISTRY_URL=http://registry:8000
      - HOSTNAME=product-service
    depends_on:
      - registry
    networks:
      - microservices

  order-service:
    build:
      context: ../../
      dockerfile: examples/microservices-advanced/Dockerfile
      target: order-service
    ports:
      - "8002:8002"
    environment:
      - PORT=8002
      - REGISTRY_URL=http://registry:8000
      - HOSTNAME=order-service
    depends_on:
      - registry
      - product-service
    networks:
      - microservices

networks:
  microservices:
    driver: bridge
